<html>
	<head>
		<meta charset="utf-8">
		<title>Hamming Code</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/app.js"></script>
		<link href="img/logo.png" rel="Shortcut Icon">
		<style>
			body {
				display: flex;
				justify-content: center;
			}
            #container {
            	margin-top: 4%;
            	min-width: 30%;
            }
			@media only screen and (max-width: 600px) {
				#container {
					min-width: 100%;
					padding: 16px;
				}
			}
			.table-bordered td, .table-bordered th {
				border: 3px solid #dee2e6;
			}
			.parity-block {
				min-height: 50px;
				min-width: 50px;
				text-align: center;
				padding-top: 8px;
				color: white;
				font-weight: bold;
				border: 2px solid white;
				border-radius: 5px;
				margin-right: 2px; 
			}
			.parity, .error {
				border: 3px solid #ffc107 !important;
				/* border: 3px solid rgb(255, 255, 70) !important; */
			}
			/* Chrome, Safari, Edge, Opera */
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
			}
			/* Firefox */
			input[type=number] {
			-moz-appearance: textfield;
			}
        </style>
	</head>
	<body>
		
		<div id="container">
			<template v-if="step == 1">
				<h3 style="text-align: center">THE HAMMING CODE</h3><br>
			    <div class="form-group">
			        <h5><label for="txt">Data word (In Binary):</label></h5>
			        <input type="text" class="form-control" v-model="dataword"
					       placeholder="Binary" id="txt" required>
			    </div>
			    <div>
			        <button 
			        	v-show="step == 1"
			        	:disabled="shouldDisable"
			        	@click="encode()"
			        	class="btn btn-warning float-right">Encode</button>
			    </div>
			</template>
			<template v-else-if="step == 2">
				<encoder 
				:num-parity="numParity"
				:codeword="codeword"></encoder>
				<button 
					@click="goBack()"
					class="btn btn-warning float-right">Back</button><br><br><hr>
				<h3 style="color: #28a745;">SEND TO RECEIVER FOR DECODING</h3>
				<p style="font-size: 32px;">Flip atmost one bit below and tap send button!</p>
				<transmission 
					:codeword="codeword"
					@send="decode"></transmission>
			</template>
			<template v-else>
				<h3>RECEIVER</h3><hr>
				<h3 class="">Received Codeword</h3>
				<receiver 
					:code="receivedCodeword"
					:error-position="errorPosition"></receiver>
				<hr>
				<p>
					<span style="font-size: 24px;">COMMENT: </span>
					<span :style="{fontSize: '24px', color: commentColor}">{{comment}}</span>
				</p>

				<!-- error correction -->
				<div v-if="errorPosition != 0">

					<h3 class="">Corrected Codeword</h3>
					<receiver 
						:code="correctedCodeword"
						:error-position="errorPosition"></receiver><br>

				</div><br>

				<!-- Display extracted dataword -->
				<h3 class="">Extracted Dataword</h3>
				<div style='display: flex'>
					<div class='bg-primary parity-block'
						v-for='(bit, index) in extractedDataword'
						key='index'>{{bit}}</div>
				</div>
				
				<button 
					@click="goBack()"
					class="btn btn-warning float-right">Back</button>

			</template>
		</div>
	
		<script>
		    // Define a new component called encoder
			Vue.component('encoder', {
			  props: ["numParity", "codeword"],
			  template: "<div><h3>CODEWORD</h3><br>"+
			  	"<h5>There will be {{ numParity }} parity bits!</h5>"+
					  "<div style='display: flex'>"+
						"<div class='bg-primary parity-block'"+
							"v-for='(bit, index) in codeword'"+
							":key='index'"+
							":class='{parity: isParityBit(index)}'"+
							"v-html='parityBit(bit, index)'></div>"+
					"</div><br>"+
					"<div style='display: flex'>"+
						"<div class='bg-primary parity-block'"+
								"v-for='(bit, index) in codeword'"+
								":key='index'"+
								":class='{parity: isParityBit(index)}'"+
							">{{bit}}</div>"+
					"</div><br>"+	
				"</div>",
			  methods: {
				isParityBit: function(index) {
					return Number.isInteger(Math.log2(index + 1))
				},
				parityBit: function(bit, index) {
					if(this.isParityBit(index)) {
						pos = index + 1
						return "P<sub>" + pos + "</sub>"
					}
					return bit
				}
			  }
			})
			// Define another component called transmission
			Vue.component('transmission', {
			  props: ["codeword"],
			  template: "<div>" +
							"<form @submit.prevent='send()'>" +
								"<input type='number' size=1 min=0 max=1 " +
									"style='padding: 10px 0 10px 10px; margin-right: 2px;' " +
									"v-for='bit, index in codeToSend' " +
									":key='index' " +
									":value='bit' @input='updateCodeToSend($event, index)' required>" +
								"<br>" +
								"<button class='btn btn-primary float-right' " +
									"type='submit'>Send</button>" +
							"</form>" +
						"</div>",
			  created: function () {
				this.codeToSend = this.codeword
			  },
			  data: function () {
				return {
					codeToSend: []
				}
			  },
			  methods: {
				updateCodeToSend(event, index) {
					this.codeToSend[index] = event.target.value
				},
				send() {
					this.$emit("send", this.codeToSend)
				}
			  }
			})
			// Define another component called code
			Vue.component('receiver', {
				props: ["code", "errorPosition"],
				template: "<div style='display: flex'>"+
						"<div class='bg-primary parity-block'"+
								"v-for='(bit, index) in code'"+
								":key='index'"+
								":class='{error: isErrorPosition(index)}'"+
							">{{bit}}</div>"+
					"</div>",
			    methods: {
					isErrorPosition: function (index) {
						return this.errorPosition == (index + 1)
					}
				}
			})
			// create a root vue instance
			new Vue({
			  el: "#container",
			  data: {
			  	step: 1,
				dataword: "",
				receivedCodeword: [],
				errorPosition: 0,
				correctedCodeword: [],
				extractedDataword: []
			  },
			  computed: {
				bits: function () {
					return this.dataword.split("")
				},
				numParity: function () {
			  		return calcNumParityBits(this.bits.length)
				},
				codeword: function () {
					return calcCodeWord(this.bits, this.numParity)
				},
				shouldDisable: function () {
					isBinary = true
					for(i = 0; i < this.bits.length; i++) {
						if(this.bits[i] != 0 && this.bits[i] != 1) {
							isBinary = false
						}
					}
					return (this.bits.length == 0) || !isBinary
				},
				comment: function () {
					if(this.errorPosition != 0) {
						return "ERROR DETECTED"
					}
					return "NO ERROR DETECTED"	
				},
				commentColor: function () {
					if(this.errorPosition != 0) {
						return "#dc3545"
					}
					return "#28a745"	
				}
			  },
			  methods: {
			  	goBack: function () {
					if(this.step == 3) {
						this.dataword = ""
						this.receivedCodeword = []
						this.errorPosition = 0
						this.correctedCodeword = []
						this.extractedDataword = []
					}
					this.step = 1
			  	},
			  	goNext: function () {
			  		this.step++ 
			  	},
			  	encode: function () {
			  		this.goNext()
			  	},
				decode: function (payload) {
					this.errorPosition = locate_error_position(payload, this.numParity)
					this.receivedCodeword = payload

					if(this.errorPosition != 0) {

						/* let's correct the error */
						temp = [...this.receivedCodeword]
						if(this.receivedCodeword[this.errorPosition - 1] ==  0) {
							console.log("we are here");
							temp[this.errorPosition - 1] = 1
						} else {
							temp[this.errorPosition - 1] = 0
						}
						this.correctedCodeword = temp
					} else {
						this.correctedCodeword = this.receivedCodeword
					}

					/* Extract dataword */
					index = 0
					for(i = 0; i < this.correctedCodeword.length; i++) {
						if(!Number.isInteger(Math.log2(i + 1))) {
							this.extractedDataword[index] = this.correctedCodeword[i]
							index++
						}
					}

					this.goNext()

				}  
			  }
			})
		</script>
	</body>

</html>
